.basic-logo-uploader>.ant-upload {
    width: 88px;
    height: 88px;

}

.basic-logo-uploader>.ant-upload .r_upload_Img {
    max-height: 70px;
    max-width: 70px;
}

.basic-bg-uploader>.ant-upload {
    width: 268px;
    height: 144px;
}

.basic-bg-uploader>.ant-upload .r_upload_Img {
    max-height: 124px;
    max-width: 250px;
}
.upload_img_box{
    width:100%;
    height:100%;
    
    .operations_uplopad{

    }
}

.clearfix{
    // height: 99px;
}