.PersonalInformation-model{
    // text-align: center;
    .model-img{
        width:150px;
        height: 150px;
    }
    .PersonalModal-img{
        text-align: center;
    }
    .Buttons{
        text-align: center;
    }
    .button-1{
        margin-right: 30px;
    }
    .formList{
        .ant-btn{
            width: 90px;
            height: 90px;
        }
    }
    .ant-upload-list-item-actions{
        a{
            display: none;
        }
        .anticon-download{
            display: none;
        }
    }
    .nav-img{
        width: 150px;
        height: 150px;
    }
    .item-div{
        display:inline-block ;
        width: 100%;
        height: 104px;
        border: 1px solid #efefef;
        position: relative;
        // margin-right: 10px; 
    }
    .item-video{
        width:100%;
        height:104px;
    }
    .item-img{
        width:100%;
        height:104px;
       
    }
    .ant-upload-list-picture-card-container{
        display: none;
    }
    .icon-Loading{
        width: 100%;
        height: 104px;
        line-height: 104px;
        text-align: center;
        border: 1px solid #efefef;
    }
    .close-icon{
        // float: right;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        z-index: 1000;
    }
    
}