.ChargeRecord{
    .button-1{
        margin: 0 20px;
    }
    .record-pagination{
        margin-top: 20px;
    }
    .operation{
        .operation-button{
            margin:0 20px;
        }
    }
    .formItem{
        .formItem-span{
            float: left;
            vertical-align: middle;
        }
        .formItem-div{
            // display: inline-block;
            float: left;
            vertical-align: middle;
           
        }
    }
    // .memberName{
    //     span{
    //         position: absolute;
    //         right: 0px;
    //     }
        
    // }
}