.MyDemand{
    .primary-button{
        text-align: right;
        margin-top:20px;
        margin-right: 100px;
    }
    .buttons{
        .button-1{
            margin-right:20px;
        }
    }
    .Panel{
        width: 100%;
        padding-left:50px ;
    }
    
    .Pagination{
        margin-top: 20px;
        text-align: center;
    }
}